body{
    text-align:center;
}
	
#indexBtn{
    margin: 0;
    border:1px solid #000;
    width: 100px;
}

.input-Line{
    margin: 5px;
    border:1px solid #000;
    width: 100px;
}

.btn-line{
	margin: 10px;
    border:1px solid #000;
    width: 100px;
}    
    
.video-play{
	width: 640px;
	margin: 0 auto;
}
